#title {
    position: relative;
    top: 10px;
    width: 800px;
    margin-left: auto;
	margin-right: auto;
}

#tagline {
    position: relative;
    width: 800px;
    margin-left: auto;
	margin-right: auto;
}

#timeline {
	border: 1px solid black;
}

.tweet {
	position: relative;
	top: 50px;
    width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.user {
	position: relative;
	width: 390px;
	top: 2px;
	left: 10px;
	vertical-align: top;
}

.timestamp {
	position: relative;
	width: 390px;
	top: -15px;
	left: 400px;
	text-align: right;
}

.message {
	position: relative;
	top: -15px;
	left: 10px;
}