#title {
    position: relative;
    top: 10px;
    width: 800px;
    margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
}

#tagline {
    position: relative;
    width: 800px;
    margin-left: auto;
	margin-right: auto;
	font-family: 'Oxygen', sans-serif;
}

#timeline {
	border: 1px solid black;
}

.tweet {
	position: relative;
	top: 50px;
    width: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.user {
	position: relative;
	width: 390px;
	top: 2px;
	left: 10px;
	vertical-align: top;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.timestamp {
	position: relative;
	width: 390px;
	top: -15px;
	left: 400px;
	text-align: right;
	font-family: 'Arvo', sans-serif;
}

.message {
	position: relative;
	top: -15px;
	left: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}