body {
	background-color: #FFFAF0;
}

#title {
    position: relative;
    top: 10px;
    width: 800px;
    margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
	color: #00B2EE;
}

#tagline {
    position: relative;
    width: 800px;
    margin-left: auto;
	margin-right: auto;
	font-family: 'Oxygen', sans-serif;
}

.tweet {
	position: relative;
	top: 40px;
    width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-top: 4px solid #B08563;
	border-bottom: 4px solid #B08563;
	border-left: 4px solid #B08563;
	border-right: 4px solid #B08563;
	background-color: #FFFFFF;
	padding: 5px 10px 0px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.user {
	position: relative;
	width: 390px;
	top: 2px;
	left: 10px;
	vertical-align: top;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.timestamp {
	position: relative;
	width: 390px;
	top: -15px;
	left: 400px;
	text-align: right;
	font-family: 'Arvo', sans-serif;
}

.message {
	position: relative;
	top: -15px;
	left: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}